@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Poppins;
	line-height: 1.6;
	background-color: #202142;
	color: #fff;
}

ul {
	list-style: none;
}

.container {
	max-width: 768px;
	margin: 100px auto;
	padding: 0 10px;
}
